<phpunit bootstrap="./Bootstrap.php" colors="true">
	<testsuite name="AllTest">
		<directory>./</directory>
	</testsuite>

	<filters>
		<blacklist>
             <directory suffix="Case.php">./</directory>
        </blacklist>
	</filters>

	<logging>
		<log type="coverage-html" target="./report/log/" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highUpperBound="80" />
		<log type="testdox-html" target="./report/testdox.html" />
	</logging>
</phpunit>
